body{
    background-color: #6c6877;
}

article{
    margin: 30px;
}

section{
    border-radius: 5px;
    box-shadow: 0px 5px #cdc6b2;
    margin: 200px auto;
    background-color: #b98196;
    padding: 5px;
    width: 500px;
}

h2{
    text-align: center;
    color: #bcdaba;
    border-bottom: 2px solid #cdc6b2;
}

p{
    text-align: center;
    color: #cdc6b2;
}

div{
    text-align: center;
}
img{
    border: 10px solid #cdc6b28d;
    border-radius: 100%;
}